.card {
  padding: 43px 35px;
  background-color: $base-white;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border: 7px solid transparent;

  &:hover,
  &:focus-within {
    border-image-source: $gradient-border;
    border-image-slice: 7;
  }

  @media (min-width: $tablet-width) {
    max-width: 380px;
    width: 100%;
    padding: 58px;
  }

  @media (min-width: $desktop-width) {
    max-width: 360px;
  }
}

.card__title {
  margin: 0;
}

.card__text {
  margin: 0;
}

.card__price {
  position: relative;
  margin: 0;
  color: $base-secondary;
  padding-top: 48px;
}

.card__price-value {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 24px;
    height: 33px;
    background-color: $base-primary;
    mask-image: url("/__spritemap#sprite-rub");
    mask-position: center right;
    mask-size: 24px 88px;
    mask-repeat: no-repeat;
  }
}

.card__price-shadow {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color: $price-shadow;
  opacity: 0.48;
}

.card__button {
  @media (min-width: $tablet-width) {
    max-width: 250px;
  }
}
