.headline {
  @include font(62px, 62px);
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(72px, 85px);
    letter-spacing: 0.02em;
  }

  @media (min-width: $desktop-width) {
    @include font(92px, 110px);
    letter-spacing: 0.04em;
  }

  &--h2 {
    @include font(48px, 54px);
    letter-spacing: normal;

    //     @media (min-width: $tablet-width) {
    //       @include font(42px, 64px);
    //     }
  }

  &--h3 {
    @include font(32px, 32px);
    font-weight: 600;
    letter-spacing: normal;
    text-transform: none;

    @media (min-width: $tablet-width) {
      @include font(42px, 42px);
    }

    @media (min-width: $desktop-width) {
      @include font(54px, 54px);
    }
  }
}
