.page {
  height: 100vh;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__header {
  background: $gradient-bg;
  color: $base-white;
}
