*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  background-color: $base-white;
  color: $base-primary;
  margin: 0;
}
